/* IndexStyle.css */

body {
  background-color: lightblue;
}

h1 {
  color: darkred;
  font-size: 32px;
  text-align: center;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: darkblue;
}

